{
    "reporter": [
        "lcov",
        "text-lcov"
        "text-summary"
    ],
    "include": [
        "src/**/*.js"
    ],
    "exclude": [
        "src/**/*.spec.js"
    ],
    "lines": 100,
    "statements": 100,
    "functions": 100,
    "branches": 100,
    "watermarks": {
      "lines": [80, 95],
      "functions": [80, 95],
      "branches": [80, 95],
      "statements": [80, 95]
    },
    "check-coverage": false
}